!!XFT
Xft.lcdfilter : lcddefault
Xft.hintstyle : hintslight
Xft.hinting   : true
Xft.antialias : true
Xft.rgba      : rgb

!URxvt
URxvt*scrollBar:        false
URxvt*font        : xft:DejaVu Sans Mono:size=8
URxvt*letterSpace : -1
URxvt*internalBorder : 10
URxvt*matcher.button:   1
URxvt*allow_bold:    true

URxvt*foreground:   #d0d0d0
URxvt*background:   #151515
URxvt*cursorColor:  #d0d0d0

! base16 colors
*.color0:       #151515
*.color1:       #90a959
*.color2:       #90a959
*.color3:       #f4bf75
*.color4:       #6a9fb5
*.color5:       #aa759f
*.color6:       #75b5aa
*.color7:       #d0d0d0
*.color8:       #505050
*.color9:       #d28445
*.color10:      #505050
*.color11:      #8f5536
*.color12:      #b0b0b0
*.color13:      #d0d0d0
*.color14:      #8f5536
*.color15:      #f5f5f5
